html {
    background-image: url('img/umdbg.jpg');
    background-size: 2000px;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    bottom: auto;
}

body {
    margin: -10px;
    background-color: rgba(26, 26, 26, .8);
    color: white;
    font-weight: lighter;
}
#form {
    margin: 30px;
    border-radius: 10px;
    border-width: 1px;
    border-top: double;
    border-color: #194775;
    font-weight: lighter;
    padding: 20px;
    margin-left: 40px;
    margin-top: -850px;
    line-height: 5px;
}
#subtitle {
    width: 400px;
    height: 1000px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: -50px;
}
#subtitle img {
    width: 100%;
    height: auto;
}
#logo {
    margin-top: 20px;
}
#propic {
    opacity: 2;
    max-height: 400px;
}
h1 {
    font-weight: lighter; 
}
p {
    margin-top: 10px;
}