html {
    background-image: url('img/umdbg.jpg');
    background-size: 2000px;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    bottom: auto;
}

body {
    margin: -10px;
    background-color: #1A1A1A;
    opacity: 0.8;
    color: white;
    font-weight: lighter;
}
#form {
    margin: 30px;
    border-radius: 10px;
    border-width: 1px;
    border: solid;
    border-color: #194775;
    float: left;
    padding: 20px;
    margin-left: 760px;
    text-align: center;
    width: 330px;
}
#title {
    width: 500px;
    height: 200px;
    text-align: center;
    margin-left: 710px;
    margin-bottom: -50px;
    margin-top: 10px;
}
#title img {
    width: 100%;
    height: auto;
}
input {
      border-radius: 10px;
      border-color: #E8E8E8;
      padding: 5px;
      margin-right: auto;
}
#join {
   text-align: center;
   background: #007AA3;
   width: 170px;
   color: white;
   border-color: #007AA3;
}

#subtitle {
    width: 300px;
    height: 100px;
    text-align: center;
    margin-left: 800px;
    margin-bottom: -50px;
}
#subtitle img {
    width: 100%;
    height: auto;
}