html {
    background-image: url('img/umdbg.jpg');
    background-size: 2000px;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    bottom: auto;
}

body {
    margin: -10px;
    background-color: rgba(26, 26, 26, .8);
    color: white;
    font-weight: lighter;
}
#form {
    margin: 30px;
    border-radius: 10px;
    border-width: 1px;
    border-top: double;
    border-color: #194775;
    font-weight: lighter;
    padding: 20px;
    margin-left: 80px;
    float: left;
  
}
#subtitle {
    width: 1500px;
    height: 200px;
    text-align: center;

    margin-bottom: -50px;
}
#subtitle img {
    width: 100%;
    height: auto;
}

#join {
   text-align: center;
   background: #007AA3;
   width: 170px;
   color: white;
   border-color: #007AA3;
}
input {
      border-radius: 10px;
      border-color: #E8E8E8;
      padding: 5px;
      margin-right: auto;
}
#sub {
    width: 800px;
    height: 400px;
    float: left;
    margin-top: 100px;
    
}

#sub img {
    width: 100%;
    height: auto;
}
